.city{
    width: 100%;
    height: 45px;
    font:32px;
    padding:5px;
    color:black
}
.five-day{
    background-color: rgb(88, 137, 228);
    margin: 5px;

}

.city-border{
    margin: 5px;
    border: 1px dotted black;
}

.greenBack{
    background-color: green;
}

.yellowBack{
    background-color: yellow;
}

.orangeBack{
    background-color:orange;
}

.redBack{
    background-color: red;
}

h5{
    font-size: 15px;
}
  h6{
      font-size: 15px;
  }

  .uv-indexapi{
      width: 18%;
  }

  .cityapi{
      font-size: 25px;
      font-weight: bold;
  }